@import play.api.Play.current

@(message: String)
@mainContent() = {
    <header class="page-header text">
        <h1 class="h1-heading">@Messages("ssttp.landing.title")</h1>
    </header>
    <div class="subsection">
        @Messages("ssttp.landing.intro")
    </div>
    <div class="subsection">
        @Messages("ssttp.landing.conditions")
        @message_list(Some("bullets"), "ssttp.landing.conditions.list.")

    </div>
    <div class="subsection">
        @Messages("ssttp.landing.contact")
        @message_list(Some("bullets"), "ssttp.landing.contact.list.")
        @Messages("ssttp.landing.contact.footer") @Messages("ssttp.landing.contact.number")
    </div>
}


@views.html.main(
    title = Messages("ssttp.common.title"),
    bodyClasses = None,
    sidebarLinks = Some(landing_sidebar())
)(mainContent)
